html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


strong {
font-weight: bold;
}





body {
	background-color: #e2e2e2;
	background-image: url(../img/bg.png);
	font-family: Arial, Helvetica, sans-serif;
}
.clear {
	clear: both;
}
.navigation {
	height: 60px;
	background-color: #0a3b49;
}
.container {
	width: 990px;
	margin: 0 auto;
}
.nav {
	display: inline-block;
	vertical-align: top;
}
.nav li {
	display: inline-block;
	vertical-align: top;
}
.nav li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 23px 15px;
	transition: all 1s;
}
.naglowek {
	color: #4c7b88;
	font-size: 25px;
	margin-top: 60px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-bottom: 15px;
}
.nav li a:hover {
	background-color: #61b3ca;
	color: yellow;
	transition: all 1s;
}


.left-side {
	width: 570px;
	background-color: white;
	float: left;
	margin-right: 60px;
	padding: 15px;
}
.right-side {
	width: 330px;
	background: white url(../img/plama.png) no-repeat right bottom;
	float: left;
	padding-bottom: 40px;

}

.blog-image {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	margin-right: 16px;
	overflow: hidden;
}
.blog-image img {
	transition: all 2s;
}
.blog-image img:hover {
	transform:  scale(2);
	transition: all 0.5s;
}


.blog-text {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	font-size: 14px;
}
.single-post{
	font-size: 0px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 15px;
}
.h2 {
	color: #4c7b88;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
	font-weight: 300px;
}
.text1 {
	line-height: 140%;
	font-size: 13px;
	color: #6c7578;
	margin-bottom: 10px;
}
.zobacz-wiecej {
	color: #417482;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.avatarbg { 
	background: #2c6d6a no-repeat url(../img/avatarbg.png);
	height: 172px;
	position: relative;
}
.user-image {
	border-radius: 50%;
	border: 4px solid #fff;
	background-color: #fff;
	box-shadow: 6px 9px 10px rgba(0,0,0,0.5); 
	position: absolute;
	left: 25px;
	bottom: -30px;
}
.imie {
	font-size: 20px;
	color: #4c7b88;
	font-family: 'Roboto Slab', serif;
	font-weight: 300px;
	margin-top: 50px;
	padding: 0px 15px;
}
.info {
	padding: 15px;

}
.info li {
	font-size: 13px;
	color: #6c7578;
	margin-bottom: 5px;
	background: url(../img/bullet.png) no-repeat 1px 0px;
	padding-left: 15px;
	
	}

	.link-list {
		padding: 15px;

	}
	.link-list li {
		margin-bottom: 5px;
	}

	.link-list a {
		text-decoration: none;
		font-size: 13px;
		color: #54808c;

	}
	.info-boxes {
		margin-top: 40px;
	}
	.info-boxes h3 {
		text-align: center;
		font-size: 20px;
		color: #417482;
		font-family: 'Roboto Slab', serif;
	}
	.box {
		background: white;
		width: 216px;
		text-align: center;
		padding: 40px 0px;
		float: left;
		margin: 15px;

	}
	.box-title {
		color: #33947d;
		font-size: 20px;
		font-family: 'Roboto Slab', serif;
		font-weight: 300px;
		margin-top: 10px;
	}
	.footer {
		background: #1c5c5b url(../img/footer.png) repeat-x;
		text-align: center;
		margin-top: 30px;
		
	}
.footer-nav {
	display: inline-block;
	vertical-align: top;
}
.footer-nav li {
	display: inline-block;
	vertical-align: top;
}
.footer-nav li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 23px 15px;
}
.footerlogo {
	padding-bottom: 30px;
}
.animation {
	width: 150px;
	height: 150px;
	background-color: #bada55;
	animation: testAnim 4s infinite linear;
}
@keyframes testAnim {
	0% {
	background-color: #bada55;
	}
	25%{
	background-color: yellow;
	transform: translateX(300px) scale(1.5);
	opacity: 0.5;
	border-radius: 50%;
	}
	60% {
	background-color: yellow;
	transform: translateX(300px) translateY(100px) scale(1.5);
	}
	100% {
	background-color: blue;
	}
}